*.xo
*.xclbin
*.exe
*.compile_summary
*.link_summary
*.info
*.log
all_builds
all_logs
*.prj
emconfig.json
.Xil
.run
.ipcache
ext_metadata.json
xsa.xml
*.hw.ltx
.vscode
axi_vip_0_ex
test_axi_DUFT_1.1
*.jou